extends ../layouts/common
block content
  
  h1 Book management
  h2.d-flex.align-items-end.justify-content-between
    span(style="color: green;") Books list
    span(style="font-size: 24px")
      a(href='/books/create') Create a new book

  table.table(style="text-align: left")
    thead.bg-light
      tr
        th Book cover
        th Title
        th Description
        th Update title
        th Delete
        th
    tbody
      each book in books
        tr
          td.align-middle
            if(!book.coverUrl)
                img.rounded-circle(src=defaultCoverUrl, width='32px', height='32px')
            else
                img.rounded-circle(src=book.coverUrl , width ='32px', height='32px')
          td.align-middle= book.title
          td.align-middle= book.description
          td.align-middle 
            a(href="/books/" + book.id + "/update") Update Title
          td.align-middle
            a(href="/books/" + book.id + "/delete") Delete
          td.align-middle
            if(cart.indexOf(book.id) === -1)
              a.btn.btn-success(href="/cart/add/" + book.id) Add Cart
            else
              .btn.btn-secondary(disabled) In Cart
  

