h1 Update new title
form(action="/books/update", method="post")
  label New title:
  br  
  input(type="text", hidden, name="book_id", value=book_id)
  input(type="text", name="title") 
  button Update
  