html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    link(rel="icon", type="image/png", sizes="64x64", href="https://yt3.ggpht.com/a/AATXAJzvnWH17ZIrmOWMo7PpoBBDz22z4FFOcrPyRA=s900-c-k-c0xffffffff-no-rj-mo")
    link(rel='stylesheet', href='/public/custom.css')
  body
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/books') Books
      li.nav-item
        a.nav-link(href='/transactions') Transactions
    block content