extends ./layouts/common
block content
  h1 Books management

  a(href="/books") Enter books management
  br
  a(href="/users") Enter users management
  br
  a(href="/transactions") Enter transactions management