extends ../layouts/common
block content
  h1 Change name
  form.form(action="/users/changename", method="post")
    label(for="name") New name:
    br
    input.form-control(type="text", hidden, name="id", value=id)
    input.form-control#name(type="text", name="name")
    br
    button.btn.btn-primary(type="submit") Change
