h1 Change name
form(action="/users/changename", method="post")
  label New name:
  br
  input(type="text", hidden, name="user_id", value=user_id)
  input(type="text", name="name")
  br
  button(type="submit") Change