extends ../layouts/common
block content
  h1(style="color: blue") User Management (CRUD)
  h2(style="color: green") User list
  table.table(style="text-align: left;")
    tr
      th User ID
      th Name
      th Change username
      th Delete
    each user in users  
      tr
        td= user.user_id
        td= user.name
        td
          a(href="/users/" + user.user_id + "/changename") Click
        td
          a(href="/users/" + user.user_id + "/delete") Click
          
  include ../layouts/pagination.pug
      
  h2(style="color: orange") Add new user
  form.form(action="/users", method="post")
    if(errors)
      each error in errors 
        .alert.alert-danger= error
    label(for="name") Enter name:
    br
    input#name(type="text", name="name")
    br
    label(for="email") Enter email:
    br
    input#name(type="text", name="email")
    br
    label(for="password") Enter password:
    br
    input#name(type="password", name="password")
    br
    button.btn.btn-primary Add

