extends ../layouts/common
block content
  h1(style="color: red") User Management (CRUD)
  h2.d-flex.align-items-end.justify-content-between
    span(style="color: green;") User list
    span(style="font-size: 24px")
      a(href='/users/create') Create a new User
   
  table.table(style="text-align: left;")
    thead.thead-light
      tr
        th Avarta
        th User ID
        th Name
        th View
        th Change username
        th Delete
    tdbody
    each user in users  
      tr
        td.align-middle
          if(!user.avatar)
              img.rounded-circle(src=defaultAvatar, width='32px')
          else
              img.rounded-circle(src=user.avatar , width ='32px')
        td.align-middle= user.user_id
        td.align-middle= user.name
        td.align-middle
          a(href="/users/" + user.user_id+ "/profile") View
        td.align-middle
          a(href="/users/" + user.user_id + "/changename") Change
        td.align-middle
          a(href="/users/" + user.user_id + "/delete") Delete
          
  include ../layouts/pagination.pug
