extends ../layouts/common
block content
  h1 Transactions management

  div(style="color: blue")
      h2 Transactions list

  table.table(style="text-align: left")
    tr
      th Transaction ID
      th User ID
      th Book ID
      th isComplete
      th Delete
    each trans in transactions
      tr
        td= trans.trans_id
        td= trans.user_id
        td= trans.book_id
        td 
          a(href="/transactions/" + trans.trans_id + "/complete") Hoàn thành
            span(style="padding: 0 3px; color: yellow")= trans.isComplete === true ? "Yes" : "No"
        td 
          a(href="/transactions/" + trans.trans_id + "/delete") Click

  a(href="./transactions/create", style="color: green") 
      h3 Add new transaction

