extends ../layouts/common
block content
  h1 Transactions management
  h2.d-flex.align-items-end.justify-content-between
    span(style="color: green;") Transactions list
    span(style="font-size: 24px")
      a(href='/transactions/create', style="color: blue") Create a new User      
  table.table(style="text-align: left")
    tr
      th Transaction ID
      th User ID
      th Book ID
      th isComplete
      th Delete
    each trans in transactions
      tr
        td= trans.id
        td= trans.user_id
        td= trans.book_id
        td 
          a(href="/transactions/" + trans.id + "/complete") Hoàn thành
            span(style="padding: 0 3px; color: yellow")= trans.isComplete === true ? "Yes" : "No"
        td 
          a(href="/transactions/" + trans.id + "/delete") Click
          
  

