h1 Todo List

form(action="/todos/search", method="GET")
  input( type="text", name="q", value= inputValue )
  button Search 

form(action="/todos/create", method="POST")
  label New Todo <br>
  input( type="text", name="todo" )
  button Create 

ul
  each todo in todosList
    li= todo.name ? todo.name : todo.todo ? todo.todo : todo.text 
      span &nbsp;
      a(href="todos/" + todo.id + "/delete") Xóa
